<%- include ("adminHead.ejs") %>

<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
<div class="mobile-menu-handle"></div>
<article class="content item-editor-page">
    <div class="title-block">
        <h3 class="title"> Edit item
            <span class="sparkline bar" data-type="bar"></span>
        </h3>
    </div>
    <form name="item" action="/admin/update-product/<%= product._id %>" method="POST" enctype="multipart/form-data">

        <% if (successMessage) { %>
        <div class="alert alert-success" role="alert">
            <%= successMessage %>
        </div>
        <% } else if (errorMessage) { %>
        <div class="alert alert-danger" role="alert">
            <%= errorMessage %>
        </div>
        <% } %>
        <div class="card card-block">
            <div class="form-group row">
                <label class="col-sm-2 form-control-label text-xs-right"> Name: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control boxed" name="name" placeholder=""
                        value="<%= product.name %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 form-control-label text-xs-right"> Category: </label>
                <div class="col-sm-10">
                    <select class="c-select form-control boxed" name="category">
                        <option value="<%= product.category %>">
                            <%= categoryName %>
                        </option>
                        <% categories.forEach(category=> { %>
                        <% if (category._id.toString() !==product.category.toString()) { %>
                        <option value="<%= category._id %>">
                            <%= category.name %>
                        </option>
                        <% } %>
                        <% }); %>
                    </select>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-2 form-control-label text-xs-right"> Price: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control boxed" name="price" placeholder=""
                        value="<%= product.price %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 form-control-label text-xs-right"> Description: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control boxed" name="description" placeholder=""
                        value="<%= product.description %>">
                </div>
            </div>

            <!-- Include Stock Column -->
            <div class="form-group row">
                <label class="col-sm-2 form-control-label text-xs-right"> Stock: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control boxed" name="stock" placeholder="Quantity"
                        value="<%= product.stock %>">
                </div>
            </div>

            <!-- Display selected photos -->
            <div id="selected-photos" class="row">
                <% product.image.forEach((image, index) => { %>
                <div class="col-md-3">
                    <img src="/<%= image %>" alt="Product image" class="img-thumbnail" width="100">
                </div>
                <% }); %>
            </div>
            <div class="form-group row">
                <div class="col-sm-10 col-sm-offset-2">
                    <!-- Edit Image Button -->
                    <button type="button" class="btn btn-primary mt-2 edit-image-btn" data-product-id="<%= product._id %>">Edit Image</button>

                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 col-sm-offset-2">
                <!-- Update Button -->
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>
</article>

<%- include ("adminFooter.ejs") %>

<style>
    .edit-image-btn {
        color: white;
        background-color: red;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Add event listener to the Edit Image Button
        const editImageButton = document.querySelector(".edit-image-btn");
        if (editImageButton) {
            editImageButton.addEventListener("click", function () {
                // Get the product ID from the data attribute of the button
                const productId = editImageButton.getAttribute("data-product-id");
                // Redirect to the product-img-editor page with the product ID included as a query parameter
                window.location.href = `/admin/product-img-editor?productId=${productId}`;
            });
        }
    });
</script>

