<%- include("header.ejs") %>

head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link href="images/favicon.png" rel="shortcut icon">
<title>Ludus - Electronics, Apparel, Computers, Books, DVDs & more</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
<link rel="stylesheet" href="../../static/cart css/css/vendor.css">
<link rel="stylesheet" href="../../static/cart css/css/utility.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.1/dist/sweetalert2.min.css">
<link rel="stylesheet" href="../../static/cart css/css/app.css">
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<style>
.ship-b .btn {
    /* Adjust the padding, font-size, and max-width to reduce the button size */
    padding: 0.25rem 0.5rem;
    font-size: 12px;
    max-width: 130px; /* Adjust this value to your desired width */
}
.ship-a .btn {
    /* Adjust the padding, font-size, and max-width to reduce the button size */
    padding: 0.25rem 0.5rem;
    font-size: 12px;
    max-width: 130px; /* Adjust this value to your desired width */
}

/* .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
} */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


        .checkout-f__h1 {
            font-weight: bold;
        }
        .hidden {
            display: none;
        }
        /* .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
            display: flex;
            justify-content: center;
            align-items: center; */
        /* }

        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 500px;
            text-align: center;
        } */

        /* .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        } */

        /* .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        } */
        #address-modal,
        #addressesModal,
        #addNewAddressModal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid #888;
            width: 100%;
            height: 150px;
            max-width: 500px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .modal-content {
            padding: 20px;
          
            width: 100%;
            
        }
        .blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    z-index: 1000; /* adjust the z-index to ensure it covers the entire page */
}

       
        .modal .close:hover,
        .modal .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        h3 {
            font-weight: bold;
        }
          /* Blur effect for background when modal is open */
          .modal-open .blur-background {
            filter: blur(5px);
            pointer-events: none;
            user-select: none;
        }

        /* Dim background effect */
        .modal-open:before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="checkout-f">
            <div class="row">
                <div class="col-lg-6">
                    <!-- DELIVERY INFORMATION SECTION -->
                    <h1 class="checkout-f__h1">DELIVERY INFORMATION</h1>
                    <form class="checkout-f__delivery">
                        <!-- Shipping & Billing -->
                        <div class="o-summary__section u-s-m-b-30">
                            <!-- Shipping Address -->
                            <div class="ship-b">
                                <!-- Ship to -->
                                <h4>Ship to:</h4>
                                <% var hasPrimaryAddress = false; %>
                                <% if (addresses && addresses.length > 0) { %>
                                <% addresses.forEach(address => { %>
                                <% if (address.active) { %>
                                <% hasPrimaryAddress = true; %>
                                <div class="address-card" id="primary-address-shipping">
                                    <p><strong>AddressLine1:</strong> <%= address.addressLine1 %></p>
                                    <p><strong>Street:</strong> <%= address.street %></p>
                                    <p><strong>City:</strong> <%= address.city %></p>
                                    <p><strong>State:</strong> <%= address.state %></p>
                                    <p><strong>Pincode:</strong> <%= address.ZIP %></p>
                                    <p><strong>Country:</strong> <%= address.country %></p>
                                    <input type="hidden" id="selectedBillingAddressId" name="selectedBillingAddressId" value="">
                                </div>
                                <button type="button" class="btn btn-warning change-address-btn"
                                    data-address-id="<%= address._id %>" data-address-type="shipping">Change</button>
                                <button id="add-new-address-btn" class="btn btn-primary btn-sm">Add New Address</button>
                                <% } %>
                                <% }); %>
                                <% } %>
                            </div>
                            <!-- Billing Address -->
                            <div class="ship-a">
                                <br><br>
                                <h4>Billing to:</h4>
                                <br>
                                <% var hasPrimaryAddress = false; %>
                                <% if (addresses && addresses.length > 0) { %>
                                <% addresses.forEach(address => { %>
                                <% if (address.active) { %>
                                <% hasPrimaryAddress = true; %>
                                <div class="address-card" id="primary-address-billing">
                                    <p><strong>AddressLine1:</strong> <%= address.addressLine1 %></p>
                                    <p><strong>Street:</strong> <%= address.street %></p>
                                    <p><strong>City:</strong> <%= address.city %></p>
                                    <p><strong>State:</strong> <%= address.state %></p>
                                    <p><strong>Pincode:</strong> <%= address.ZIP %></p>
                                    <p><strong>Country:</strong> <%= address.country %></p>
                                 
  
                                </div>
                                <button type="button" class="btn btn-warning btn-sm change-address-btn"
                                    data-address-id="<%= address._id %>" data-address-type="billing">Change</button>
                                <button id="add-new-address-btn" class="btn btn-primary btn-sm">Add New Address</button>
                                <% } %>
                                <% }); %>
                                <% } %>
                                <br>
                            </div>
                        </div>
                    </form>
            <!-- Coupon Section -->
<div class="f-cart__pad-box">
    <div class="u-s-m-b-16">
        <span class="gl-text u-s-m-b-16">Have a coupon?</span>
        <a class="gl-link" href="#have-coupon">Click Here to enter your code</a>
    </div>
    <div id="have-coupon" data-parent="#checkout-msg-group">
        <div class="c-f u-s-m-b-16">
            <span class="gl-text u-s-m-b-16">Enter your coupon code if you have one.</span>
            <form class="c-f__form" id="coupon-form" action="/checkout" method="POST">
                <div class="u-s-m-b-16">
                    <div class="u-s-m-b-15">
                        <label for="coupon"></label>
                        <input class="input-text input-text--primary-style" type="text" id="coupon" placeholder="Coupon Code">
                    </div>
                    <div class="u-s-m-b-15">
                        <button class="btn btn--e-transparent-brand-b-2" type="submit" id="apply-coupon-btn">APPLY</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

                </div>
                <div class="col-lg-6">
                    <!-- ORDER SUMMARY SECTION -->
                    <h1 class="checkout-f__h1">ORDER SUMMARY</h1>
                    <div class="o-summary">
                        <div class="o-summary__section u-s-m-b-30">
                            <div class="o-summary__item-wrap gl-scroll">
                                <% if (products && products.length > 0) { %>
                                <% products.forEach(product => { %>
                                <div class="o-card">
                                    <div class="o-card__flex">
                                        <div class="o-card__img-wrap">
                                            <img class="u-img-fluid" src="<%= product.product.image[0] %>" alt="">
                                        </div>
                                        <div class="o-card__info-wrap">
                                            <span class="o-card__name">
                                                <a href="/product-detail/<%= product.product._id %>">
                                                    <%= product.product.name %>
                                                </a>
                                            </span>
                                            <span class="o-card__quantity">Quantity x <%= product.quantity %></span>
                                            <span class="o-card__price">$<%= product.product.price.toFixed(2) %></span>
                                        </div>
                                    </div>
                                    <a class="far fa-trash-alt table-p__delete-link" href="#"
                                        onclick="confirmDelete('<%= product.product._id %>')"></a>
                                </div>
                                <% }) %>
                                <% } else { %>
                                <p>Your cart is empty.</p>
                                <% } %>
                            </div>
                        </div>
                    </div>
               <!-- Cart summary -->
               <div class="o-summary__section u-s-m-b-30">
                <div class="f-cart__pad-box">
                    <div class="u-s-m-b-30">
                        <table class="f-cart__table">
                            <tbody>
                                <h3>Summary</h3>
                                <tr>
                                    <td>TOTAL (Excl Tax)</td>
                                    <td>₹<span id="totalAmountExclTax"><%= total %></span></td>
                                </tr>
                                <tr>
                                    <td>TAX (18%)</td>
                                    <td>₹<span id="taxAmount"><%= tax.toFixed(2) %></span></td>
                                </tr>
                                <tr>
                                    <td>SUBTOTAL</td>
                                    <td>₹<span id="subtotalAmount"><%= subtotal %></span></td>
                                </tr>
                                <tr>
                                    <td>SHIPPING</td>
                                    <td>₹<span id="shippingAmount"><%= shipping %></span></td>
                                </tr>
                                <tr id="couponDiscountRow" style="display: none;">
                                    <td>COUPON DISCOUNT</td>
                                    <td>₹<span id="couponDiscountAmount">-0.00</span></td>
                                </tr>
                                
                                
                                    <td>GRAND TOTAL</td>
                                    <td>₹<span id="grandTotalAmount"><%= grandTotal.toFixed(2) %></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            

<!-- Payment Information -->
<!-- Your existing HTML for the order form -->
<div class="o-summary__section u-s-m-b-30">
    <div class="o-summary__box">
        <h1 class="checkout-f__h1">PAYMENT INFORMATION</h1>
        <form id="orderForm" class="checkout-f__payment" action="/createOrder/<%= userId %>" method="POST">
            <div class="u-s-m-b-10">
                <div class="radio-box">
                    <input type="radio" id="cash-on-delivery" name="payment" value="Cash on Delivery">
                    <div class="radio-box__state radio-box__state--primary">
                        <label class="radio-box__label" for="cash-on-delivery">Cash on Delivery</label>
                    </div>
                </div>
                <span class="gl-text u-s-m-t-6">Pay Upon Cash on delivery. (This service is only available for some countries)</span>
            </div>
            <div class="radio-box">
                <input type="radio" id="pay-with-check" name="payment" value="Online Payment">
                <div class="radio-box__state radio-box__state--primary">
                    <label class="radio-box__label" for="pay-with-check">Online payment</label>
                </div>
            </div>
            <!-- Hidden inputs for selected addresses -->
            <input type="hidden" id="selectedBillingAddressId" name="billAddress" value="">
            <input type="hidden" id="selectedShippingAddressId" name="shipAddress" value="">
            <input type="hidden" name="amount" value="<%= grandTotal %>">
            <% products.forEach(product => { %>
                <input type="hidden" name="items[]" value="<%= product.product._id  %>">
                <input type="hidden" name="quantities[]" value="<%= product.quantity %>">
            <% }) %>
            <div class="u-s-m-b-10">
                <div class="check-box">
                    <input type="checkbox" id="term-and-condition">
                    <div class="check-box__state check-box__state--primary">
                        <label class="check-box__label" for="term-and-condition">I consent to the</label>
                    </div>
                </div>
                <a class="gl-link">Terms of Service.</a>
            </div>
            <div>
                <button id="rzp-button1" class="btn btn--e-brand-b-2" type="button" style="display:none;">PAY WITH RAZORPAY</button>

                <button id="placeOrderBtn" class="btn btn--e-brand-b-2" type="submit">PLACE ORDER</button>
            </div>
        </form>
    </div>
</div>


    <!-- Modals for addresses -->
    <div id="address-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Select an Address</h2>
            <div id="address-list">
                <!-- Addresses will be loaded here via AJAX -->
            </div>
            <button type="button" id="select-address-btn" class="btn btn-primary btn-sm">Select Address</button>
        </div>
    </div>

<!-- Address Modal -->
<div id="address-modal" style="display:none;">
    <div id="address-list"></div>
    <button id="select-address-btn">Select Address</button>
</div>

    <div id="addNewAddressModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Add New Address</h2>
            <form id="add-new-address-form">
                <!-- Input fields for new address -->
                <!-- You can add your input fields here -->
                <button type="submit">Save</button>
            </form>
        </div>
    </div>     </div>
</div>
</div>
</body>

<script>
// JavaScript to handle modal display and AJAX loading

// Get the modal
var addressModal = document.getElementById("address-modal");
var addressesModal = document.getElementById("addressesModal");
var addNewAddressModal = document.getElementById("addNewAddressModal");
var ajaxModal = document.getElementById("ajax-modal");

// Get the <span> element that closes the modal
var spans = document.getElementsByClassName("close");

// When the user clicks on <span> (x), close the modal
for (var i = 0; i < spans.length; i++) {
spans[i].onclick = function () {
this.parentElement.parentElement.style.display = "none";
}
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function (event) {
if (event.target == addressModal) {
addressModal.style.display = "none";
} else if (event.target == addressesModal) {
addressesModal.style.display = "none";
} else if (event.target == addNewAddressModal) {
addNewAddressModal.style.display = "none";
} else if (event.target == ajaxModal) {
ajaxModal.style.display = "none";
}
}

// Example function to show AJAX loading modal
function showAjaxModal() {
ajaxModal.style.display = "flex";
}

function hideAjaxModal() {
ajaxModal.style.display = "none";
}
</script>

</html>

           
    
        <!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
        <script>
            window.ga = function () {
                ga.q.push(arguments)
            };
            ga.q = [];
            ga.l = +new Date;
            ga('create', 'UA-XXXXX-Y', 'auto');
            ga('send', 'pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>

        <!--====== Vendor Js ======-->
        <script src="../../static/cart css/js/vendor.js"></script>

        <!--====== jQuery Shopnav plugin ======-->
        <script src="../../static/cart css/js/jquery.shopnav.js"></script>
        <!-- Include jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Include Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Your custom JavaScript code -->



        <!--====== App ======-->
        <script src="../../static/cart css/js/app.js"></script>

        <!--====== Noscript ======-->
        >
    </body>
     <!--====== Noscript ======-->
     <noscript>
        <div class="app-setting">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="app-setting__wrap">
                            <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                            <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a JavaScript-capable browser.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </noscript>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    


     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.1/dist/sweetalert2.all.min.js"></script>
 
   
     <script>
        // Function to confirm item deletion
function confirmDelete(productId, itemId) {
            console.log('Item ID:', itemId); // Log the itemId to check its value
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/removeFromCart/<%= userId %>/delete/${productId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Failed to delete item from Cart');
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.success) {
                            Swal.fire('Deleted!', data.message, 'success').then(() => {
                                location.reload(); // Reload page after success message
                            });
                        } else {
                            Swal.fire('Error!', data.message, 'error');
                        }
                    })
                    .catch(error => {
                        Swal.fire('Error!', error.message, 'error'); // Display the error message
                    });
                }
            });
        }
    
    $(document).ready(function() {
 
        function initRazorpayPayment(grandTotal, orderData) {
        var razorpayOptions = {
            key: 'rzp_test_auDl0LryuSRaVK',
            amount: grandTotal * 100, // Amount should be in paisa
            currency: 'INR',
            name: 'istore',
            description: 'your Perfect gadget partner',
            image: '',
            handler: function(response) {
                // Send the payment ID and other details to your server
                $.ajax({
                    url: '/capturePaymentAndCreateOrder',
                    method: 'POST',
                    dataType: 'json',
                    data: {
                        payment_id: response.razorpay_payment_id,
                        amount: grandTotal,
                        currency: 'INR',
                        ...orderData
                    },
                    success: function(data) {
                        console.log('Payment and order success: ', data);
                        if (data.success) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Order Placed Successfully',
                                text: `Your order ID is ${data.orderId}. Thank you for shopping with us!`,
                                showConfirmButton: true,
                                allowOutsideClick: false
                            }).then(() => {
                                window.location.href = `/thank-you/${data.orderId}`; // Redirect to thank-you page
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Order Placement Failed',
                                text: data.error || 'An error occurred while placing the order.'
                            });
                        }
                    },
                    error: function(error) {
                        console.error('Payment and order error: ', error);
                        Swal.fire({
                            icon: 'error',
                            title: 'Order Placement Failed',
                            text: 'There was an issue with your payment. Please try again.'
                        });
                    }
                });
            },
            prefill: {
                name: 'Customer Name',
                email: 'customer@example.com',
                contact: 'Customer Phone Number'
            },
            notes: {}
        };

        var rzp = new Razorpay(razorpayOptions);
        rzp.open();
    }
 
    $('#placeOrderBtn').click(function(event) {
        event.preventDefault();
        const formData = new FormData($('#orderForm')[0]);
        const selectedShippingAddress = JSON.parse(localStorage.getItem('selectedShippingAddress'));
        const selectedBillingAddress = JSON.parse(localStorage.getItem('selectedBillingAddress'));
        var paymentOption = $('input[name="payment"]:checked').val();
        var consentChecked = $('#term-and-condition').is(':checked');

        const orderData = {
            paymentOption: formData.get('payment'),
            billAddress: selectedBillingAddress,
            shipAddress: selectedShippingAddress,
            amount: formData.get('amount'),
            items: formData.getAll('items[]'),
            quantities: formData.getAll('quantities[]')
        };

        if (paymentOption === 'Online Payment' && consentChecked) {
            // Trigger Razorpay payment process
            initRazorpayPayment(parseFloat(orderData.amount), orderData);
        } else if (paymentOption === 'Cash on Delivery' && consentChecked) {
            // Submit the form directly
            fetch(`/createOrder/<%= userId %>`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(orderData)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Order Placed Successfully',
                        text: `Your order ID is ${data.orderId}. Thank you for shopping with us!`,
                        showConfirmButton: true,
                        allowOutsideClick: false
                    }).then(() => {
                        window.location.href = `/thank-you/${data.orderId}`; // Redirect to thank-you page
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Order Placement Failed',
                        text: data.error || 'An error occurred while placing the order.'
                    });
                }
            })
            .catch(error => {
                Swal.fire({
                    icon: 'error',
                    title: 'Order Placement Failed',
                    text: 'An unexpected error occurred. Please try again later.'
                });
            });
        } else {
            Swal.fire({
                icon: 'warning',
                title: 'Incomplete Form',
                text: 'Please select a payment option and accept the terms and conditions.'
            });
        }
    });
            // Handle coupon application
$('#coupon-form').submit(function(event) {
                event.preventDefault();
                const couponCode = $('#coupon').val();
                const grandTotal = parseFloat($('#grandTotalAmount').text());
                $.ajax({
                    url: '/validate-coupon',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        coupon: couponCode,
                        grandTotal: grandTotal
                    }),
                    success: function(response) {
                        if (response.success) {
                            $('#grandTotalAmount').text(response.grandTotal);
                            $('#couponDiscountAmount').text('-₹' + response.discountAmount);
                            $('#couponDiscountRow').show();
                            Swal.fire({
                                icon: 'success',
                                title: 'Coupon Applied',
                                text: 'Coupon applied successfully! Discount: ₹' + response.discountAmount
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Invalid Coupon',
                                text: response.message
                            });
                        }
                    }
                });
            });
    
            // Handle address change button click
 $('.change-address-btn').on('click', function() {
                var addressType = $(this).data('address-type');
                $('#address-modal').show();
                $.ajax({
                    url: '/get-address',
                    method: 'POST',
                    success: function(response) {
                        if (Array.isArray(response)) {
                            var addressListHtml = '';
                            response.forEach(function(address) {
                                addressListHtml += `
                                    <div>
                                        <input type="radio" name="address" value="${address._id}" data-address='${JSON.stringify(address)}'>
                                        <strong>${address.addressLine1}</strong>, ${address.street}, ${address.city}, ${address.state}, ${address.ZIP}, ${address.country}
                                    </div>
                                `;
                            });
                            $('#address-list').html(addressListHtml);
                            $('#address-modal').data('address-type', addressType);
                        } else {
                            console.error("Expected an array but got:", response);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error("AJAX error:", status, error);
                    }
                });
            });
    
            // Handle address selection in the modal
$('#select-address-btn').on('click', function() {
                var selectedAddress = $('input[name="address"]:checked').data('address');
                if (selectedAddress) {
                    var addressType = $('#address-modal').data('address-type');
                    var addressHtml = `
                        <p><strong>AddressLine1:</strong> ${selectedAddress.addressLine1}</p>
                        <p><strong>Street:</strong> ${selectedAddress.street}</p>
                        <p><strong>City:</strong> ${selectedAddress.city}</p>
                        <p><strong>State:</strong> ${selectedAddress.state}</p>
                        <p><strong>Pincode:</strong> ${selectedAddress.ZIP}</p>
                        <p><strong>Country:</strong> ${selectedAddress.country}</p>
                    `;
                    if (addressType === 'shipping') {
                        $('#primary-address-shipping').html(addressHtml);
                        $('#selectedShippingAddressId').val(selectedAddress._id);
                        localStorage.setItem('selectedShippingAddress', JSON.stringify(selectedAddress));
                    } else if (addressType === 'billing') {
                        $('#primary-address-billing').html(addressHtml);
                        $('#selectedBillingAddressId').val(selectedAddress._id);
                        localStorage.setItem('selectedBillingAddress', JSON.stringify(selectedAddress));
                    }
                    $('#address-modal').hide();
                } else {
                    alert('Please select an address.');
                }
            });
    
           
});
    </script>
    


   
    

       
   
    <%- include ("footer.ejs") %>