<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My E-commerce Site</title>
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Include other CSS and JS files -->
    <%- include ('header.ejs') %>
</head>
<body>

<!-- Menu Toggle -->
<div class="menu-toggle">
    <a href="#">
        <i class="fa fa-bars"></i>
        <span>Menu</span>
    </a>
</div>
<!-- /Menu Toggle -->

<!-- NAVIGATION -->
<nav id="navigation">
    <div class="container">
        <div id="responsive-nav">
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href='/store'>Hot Deals</a></li>
                <li><a href="/store">Categories</a></li>
                <li><a href="/store">Laptops</a></li>
                <li><a href="/store">Smartphones</a></li>
                <li><a href="/store">Cameras</a></li>
                <li><a href="/store">Accessories</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- SECTION -->
<div class="section">
    <div class="container">
        <div class="row">
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="../../static/img/shop01.png" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Laptop<br>Collection</h3>
                        <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="../../static/img/shop02.png" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Mobiles<br>Collection</h3>
                        <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="../../static/img/shop03.png" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Accessories<br>Collection</h3>
                        <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->
        </div>
    </div>
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">New Products</h3>
                    <div class="section-nav">
                        <ul class="section-tab-nav tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1">Laptops</a></li>
                            <li><a data-toggle="tab" href="#tab1">Smartphones</a></li>
                            <li><a data-toggle="tab" href="#tab1">Cameras</a></li>
                            <li><a data-toggle="tab" href="#tab1">Accessories</a></li>
                        </ul>
                    </div>
                </div>
            </div>

          <!-- Products tab & slick -->
<div class="col-md-12">
    <div class="row">
        <div class="products-tabs">
            <div id="tab2" class="tab-pane fade in active">
                <div class="products-slick" data-nav="#slick-nav-2">
                    <% products.forEach(product => { %>
                    <div class="product">
                        <a href="/product/<%= product._id %>" class="product-link">
                            <div class="product-img">
                                <img src="/<%= product.image[0] %>" alt="<%= product.name %>">
                            </div>
                            <div class="product-body">
                                <p class="product-category"><%= product?.category?.name %></p>
                                <h3 class="product-name"><a href="#"><%= product.name %></a></h3>
                                <h4 class="product-price">₹ <%= product.price %> <% if(product.oldPrice) { %><del class="product-old-price">₹ <%= product.oldPrice %></del><% } %></h4>
                                <% if (product.stock === 0) { %>
                                    <span class="sold-out">Sold Out</span>
                                <% } else { %>
                                    <span class="stock-info">Only <%= product.stock %> left in stock</span>
                                <% } %>
                                <% if (product.rating) { %>
                                    <div class="product-rating">
                                        <% for (let i = 0; i < product.rating; i++) { %>
                                            <i class="fa fa-star"></i>
                                        <% } %>
                                        <% for (let i = 0; i < 5 - product.rating; i++) { %>
                                            <i class="fa fa-star-o"></i>
                                        <% } %>
                                    </div>
                                <% } %>
                                <div class="product-btns">
                                    <button class="add-to-wishlist" data-product-id="<%= product._id %>">
                                        <span class="wishlist-icon fa fa-heart-o"></span><span class="tooltipp">add to wishlist</span>
                                    </button>
                                    <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                    <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                </div>
                            </div>
                        </a>
                        <div class="add-to-cart">
                            <% if (product.stock > 0) { %>
                                <input type="hidden" id="product-qty-<%= product._id %>" value="1" max="<%= product.stock %>">
                                <button class="add-to-cart-btn" data-product-id="<%= product._id %>"><i class="fa fa-shopping-cart"></i> add to cart</button>
                            <% } else { %>
                                <button class="add-to-cart-btn disabled" disabled><i class="fa fa-shopping-cart"></i> Sold Out</button>
                            <% } %>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Products tab & slick -->

        </div>
    </div>
</div>
<!-- /SECTION -->

<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hot-deal">
                    <ul class="hot-deal-countdown">
                        <li>
                            <div>
                                <h3>02</h3>
                                <span>Days</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>10</h3>
                                <span>Hours</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>34</h3>
                                <span>Mins</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>60</h3>
                                <span>Secs</span>
                            </div>
                        </li>
                    </ul>
                    <h2 class="text-uppercase">hot deal this week</h2>
                    <p>New Collection Up to 50% OFF</p>
                    <a class="primary-btn cta-btn" href="#">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /HOT DEAL SECTION -->

<!-- SECTION -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Top selling</h3>
                    <div class="section-nav">
                        <ul class="section-tab-nav tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab2">Laptops</a></li>
                            <li><a data-toggle="tab" href="#tab2">Smartphones</a></li>
                            <li><a data-toggle="tab" href="#tab2">Cameras</a></li>
                            <li><a data-toggle="tab" href="#tab2">Accessories</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
<div class="col-md-12">
    <div class="row">
        <div class="products-tabs">
            <div id="tab2" class="tab-pane fade in active">
                <div class="products-slick" data-nav="#slick-nav-2">
                    <% products.forEach(product => { %>
                    <div class="product">
                        <a href="/product/<%= product._id %>" class="product-link">
                            <div class="product-img">
                                <img src="/<%= product.image[0] %>" alt="<%= product.name %>">
                            </div>
                            <div class="product-body">
                                <p class="product-category"><%= product?.category?.name %></p>
                                <h3 class="product-name"><a href="#"><%= product.name %></a></h3>
                                <h4 class="product-price">₹ <%= product.price %> <% if(product.oldPrice) { %><del class="product-old-price">₹ <%= product.oldPrice %></del><% } %></h4>
                                <% if (product.stock === 0) { %>
                                    <span class="sold-out">Sold Out</span>
                                <% } else { %>
                                    <span class="stock-info">Only <%= product.stock %> left in stock</span>
                                <% } %>
                                <% if (product.rating) { %>
                                    <div class="product-rating">
                                        <% for (let i = 0; i < product.rating; i++) { %>
                                            <i class="fa fa-star"></i>
                                        <% } %>
                                        <% for (let i = 0; i < 5 - product.rating; i++) { %>
                                            <i class="fa fa-star-o"></i>
                                        <% } %>
                                    </div>
                                <% } %>
                                <div class="product-btns">
                                    <button class="add-to-wishlist" data-product-id="<%= product._id %>">
                                        <span class="wishlist-icon fa fa-heart-o"></span><span class="tooltipp">add to wishlist</span>
                                    </button>
                                    <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                    <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                </div>
                            </div>
                        </a>
                        <div class="add-to-cart">
                            <% if (product.stock > 0) { %>
                                <input type="hidden" id="product-qty-<%= product._id %>" value="1" max="<%= product.stock %>">
                                <button class="add-to-cart-btn" data-product-id="<%= product._id %>"><i class="fa fa-shopping-cart"></i> add to cart</button>
                            <% } else { %>
                                <button class="add-to-cart-btn disabled" disabled><i class="fa fa-shopping-cart"></i> Sold Out</button>
                            <% } %>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Products tab & slick -->

        </div>
    </div>
</div>
<!-- /SECTION -->

<!-- NEWSLETTER -->
<div id="newsletter" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter">
                    <p>Sign Up for the <strong>NEWSLETTER</strong></p>
                    <form>
                        <input class="input" type="email" placeholder="Enter Your Email">
                        <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
                    </form>
                    <ul class="newsletter-follow">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /NEWSLETTER -->

<%- include ('footer.ejs') %>

<!-- JavaScript to handle adding products to wishlist and changing icon -->
<!-- JavaScript to handle adding products to wishlist and changing icon -->
<script>
    document.querySelectorAll('.add-to-wishlist').forEach(button => {
        button.addEventListener('click', async (event) => {
            event.preventDefault();
            const productId = button.dataset.productId;
            try {
                const response = await fetch(`/wishlist/add/${productId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                const data = await response.json();
                if (data.success) {
                    // Product added to wishlist, update UI accordingly
                    if (data.message === 'Product already in wishlist.') {
                        // Product already in wishlist, no need to show alert
                        console.log('Product already in wishlist.');
                    } else {
                        // Product added to wishlist successfully
                        Swal.fire({
                            icon: 'success',
                            title: 'Added to Wishlist!',
                            text: 'Product added to wishlist successfully.'
                        });
                        // Update the heart icon class to indicate it's in the wishlist
                        const wishlistIcon = button.querySelector('.wishlist-icon');
                        wishlistIcon.classList.remove('fa-heart-o');
                        wishlistIcon.classList.add('fa-heart');
                    }
                } else {
                    // Handle error if any
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Failed to add product to wishlist.'
                    });
                }
            } catch (error) {
                console.error('Error:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Failed to add product to wishlist.'
                });
            }
        });
    });
    
    document.querySelectorAll('.add-to-cart-btn').forEach(button => {
    button.addEventListener('click', async (event) => {
        event.preventDefault();
        const productId = button.dataset.productId;
        const productQtyInput = document.getElementById(`product-qty-${productId}`); // Adjusted to dynamically fetch the correct product quantity input
        const maxQty = parseInt(productQtyInput.max, 10);

        if (maxQty === 0) {
            Swal.fire({
                icon: 'error',
                title: 'Out of Stock',
                text: 'This product is currently out of stock.',
            });
            return;
        }

        try {
            const response = await fetch(`/cart/add/${productId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ quantity: 1 }) // Assuming you want to add 1 item at a time
            });

            const data = await response.json();
            if (data.success) {
                Swal.fire({
                    icon: 'success',
                    title: 'Added to Cart!',
                    text: 'Product added to cart successfully.'
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Failed to add product to cart.'
                });
            }
        } catch (error) {
            console.error('Error:', error);
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Failed to add product to cart.'
            });
        }
    });
});

    </script>
    
