<%- include ("header.ejs") %>

<h1>Wallet</h1>

<div class="wallet-info">
    <p>User: <%= user.username %></p>
    <p>Balance: <%= user.walletBalance %></p>
</div>

<div class="transaction-history">
    <h2>Transaction History</h2>
    <ul>
        <% user.walletHistory.forEach(transaction => { %>
            <li>
                <p><strong>Transaction:</strong> <%= transaction.transaction %></p>
                <p><strong>Amount:</strong> <%= transaction.amount %></p>
                <p><strong>Date:</strong> <%= transaction.date %></p>
                <% if (transaction.reason) { %>
                    <p><strong>Reason:</strong> <%= transaction.reason %></p>
                <% } %>
            </li>
        <% }); %>
    </ul>
</div>

<%- include ("footer.ejs") %>
